/* header + Banner */
*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../Images/Hostel.jpg);
    background-size: cover;
    background-position: center;
}
header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: rgba(0,0,0,0.2);
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1.5pt;
    cursor: pointer;
}
nav li{
    display: inline;
    list-style: none;
    padding: 0px 20px;
}
a,button{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
button{
    background: rgba(0,0,0,0.2);
    border: 2px solid #fdfdfd;
    border-radius: 50px;
    padding: 9px 25px;
}
nav li a:hover{
    color: darkgoldenrod;
    transition: all 0.4s ease 0s;
}
button:hover{
    background-color: rgb(66, 112, 148);
    transition: all 0.4s ease 0s;
}















/* About Us */











/* Galary +Facilities */












/* Footer */